<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{HH:mm:ss.SSS} JESS %msg%n " />
        </Console>
        <OpenTelemetry name="OpenTelemetryAppender" />
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="OpenTelemetryAppender" />
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>