<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <OpenTelemetry name="OpenTelemetryAppender" />
        <appender name="stupid" class="io.honeydemo.meminator.backendforfrontend.StupidAppender" />
        <appender name="OpenTelemetryDammit"
            class="io.opentelemetry.instrumentation.log4j.appender.v2_17.OpenTelemetryAppender">
        </appender>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} trace_id: %X{trace_id} span_id: %X{span_id} trace_flags: %X{trace_flags} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="stupid" />
            <AppenderRef ref="OpenTelemetry" level="all" />
            <AppenderRef ref="OpenTelemetryAppender" level="all" />
            <AppenderRef ref="Console" />
            <AppenderRef ref="OpenTelemetryDammit" />
        </Root>
    </Loggers>
</Configuration>